body{
    
}
.container{
    width: 1200px;
    height: 600px;
    
    margin: 0 auto;
}

.row{
    height: 300px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1000px;
    display: flex;
    padding: 10px 20px;
    margin: 0 auto
   
}
.btn{
    border: 1px solid red;
    background: red;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
}
.col-3{
    width: calc((100%/12)*3);
    height: 100px;
    background: red;
}

.col-6{

    width: calc((100%/12)*6);
    height: 100px;
    background: yellow;
}