body{
    margin: 0px;
    font-family: 'Lora', serif;
}
#enter{
    height: 1000px;
    margin: 0 auto; 
    background: red url('/img/slider\ \(1\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .header{
        width: 1200px;
        margin: 0 auto;
        height: 200px;
        .navbar{
            ul{
                padding-top: 120px;
                display: flex;
                justify-content: space-evenly;
                li{
                    font-size: 19px;
                    list-style: none;
                    color: white;
                    cursor: pointer;
                    transition: all .4s ease;
                    &:hover{
                        color: $main;
                    }
                    
                }
            }
        }
    }
    .slider{
        width: 1200px;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        padding-top: 200px;
        color:white;
        
       
    }
    .box{
        h1{
            font-size: 50px;
        }
        p{
            font-size: 20px;
        }
        
    }
    button{
        width: 250px;
        height:56px;
        color: $background-color;
        cursor: pointer;
        background: rgba(0 , 0 , 0 , .5);
        &:hover{
            color: white;
            background: $main
        } 
    }
}