#our-courses{
    background:$background-color;
    .container{
        height: 800px;
        .row{
            padding-top: 200px;
            .col-3{
                height: 340px;
                .box{
                    cursor: pointer;
                    min-height: 340px;
                    box-sizing: border-box;
                    box-shadow: 0 0 4px grey;
                    &:hover{
                        img{
                            background: $glass;
                        }   
                    }
                    .box-header{
                        img{
                            width: 100%;
                            height: 170px;
                        }
                    }
                    .box-slider{
                        background: white;
                        height: 150px;
                        h1{
                            padding-left: 30px;
                        }
                        p{
                            text-overflow: clip;
                            padding-left: 30px;
                        }
                    }
                }
            }.btn{
                
                position: relative;
                text-align: center;
                align-items: center;
                button{
                   
                    width: 250px;
                    height: 56px;
                    margin-top: 20px;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        background: $main;
                        color: white;
                    }
                   
                }

            }
 
        }
    }
}