body,h1,h2,h3,h4 ,ul{
    margin: 0px;
    padding: 0px;
    font-family: font-family: 'Redressed', cursive;;
}
.btn{
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;

}
.btn-light{
    background: #2d4a8a;
    color: white;
}
.btn-light:hover{
    color: #2d4a8a  ;
    background: yellow;
}
.btn-dark{
    color: #f7f9fe;
    background: #2d4a8a;
}
.btn-dark:hover{
    background: #1e2637;
    color: #f7f9fe;
}
#price-list {
    padding: 30px 0px;
    margin: 50px;

}
.price-item {
    padding: 50px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px lightgray;
    min-height: 500px;
    margin: 0px -8px;

}
.price-item ul li{
    list-style: none;
    padding: 15px 0px;
    border-bottom: 1px solid lightgray;
}
.active-item{
    margin-top: -35px;
}

.active-item-top{
    padding: 10px 0px;
    background: #1e2637;
    text-align: center;
    color: white;
}
.active-item>.price-item{
    box-shadow: 0px 5px 5px;
    min-height: 540px;
    padding-bottom: 40px;
}
.price-text{

}
.price-text h1{
    font-size: 20px;

}
.price-text h1 sup{
font-size: 12px;
}
.price-text h1 span{
    font-size: 12px;
}
