#Mauris{}
#body{
    margin: 0px;
}

.Mauris-container{
    width: 410px;
    margin: 10px auto;
}

.Mauris-container-header{
    text-align: center;
    height: 49x;
    background-color: blue;
}

.Mauris-container-footer{
    height: 330px;
    background-color: brown;
    
    
}
.Mauris-container-row{
    width: 50px;
    height: 60px;
    background-color: chartreuse;
    text-align: ce;

}
.Mauris-header{
    width: 50px;
    height: 60px;
    background-color: chartreuse;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    
}
.maurise-footer-2{
    text-align: center;
    padding: 40px 50px;
    
}
.btn{
    color: red;
}