body h1,h2,h3,h4 ul{
    margin: 0px;
    padding: 0px;
}
#videos-list{

    width: 1400px;
    margin: 0 auto;

}
.container{


}
.row{
display: flex;
justify-content: space-around;

}
.col-5{
    width:calc((100%/12)*5);
    border: 1px solid red;
    height: 500px;
    
}
.col-3{
    width:calc((100%/12)*3);
    border: 1px solid blue;
    height: 200px;
}
.col-4{
    width:calc((100%/12)*4);
    border: 1px solid green;
}
.col-3-t{
    width:calc((100%/12)*3);
    border: 1px solid blue;
    height: 200px;
    margin: 0px 582px;
    margin-top: -252px;
    width: 349px;
    height: 250px;
    
}