#boss{
 width: 100%;
}
.header{
    background: rgb(46, 42, 42);
    height: 250px;
    width: 100%;
}
.header h1{

    text-align: center;
    padding: 20px;
}
.header .navbar ul{
    color: white;
    padding: 100px 220px;
    color: gray;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
    
}
.center img{
    width: 100%;
    object-fit: cover;
}
.header .navbar ul li{
    
    height: 30px;

}
.header .navbar ul li:hover{
    border-bottom: 2px solid black;
}

.box{
    display: flex;
    justify-content: space-between;
    
}
.footer .box{
    padding: 30px;
    cursor: pointer;
}
.footer .box h1 {
    border-right: 2px solid gray;
    padding: 0px 70px;
}
#boss2{
    width: 100%;
}
body{
    background: gray;
}
.header2{
    text-align: center;
    padding: 40px;
    height: 60px;
    

}
.middle{
    display: flex;
    z-index: 1;
    position: relative;
}

.middle .col-4 h3{
    width: 400px;
    height: 35px;
    background: white;
    z-index: 2;
    position: absolute;
    text-emphasis: none;
    bottom: 60px;
    left: 111px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.middle .col-4 h3:hover{
    background: grey;
}

.middle .col-4 h4{
    width: 400px;
    height: 35px;
    background: white;
    z-index: 2;
    position: absolute;
    text-emphasis: none;
    bottom: 60px;
    left: 111px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.middle .col-4 h4:hover{
    background: grey;
}