body{
    margin: 0px;
}
.courses{
    width: 1200px;
    margin: 220px auto;
    text-align: center;
}
.courses h1{
    text-align: start;
}
.col-3{
    width:calc((100%/12)*3);
    padding: 10px;
    height: 600px;
    background: red;
}
.col-12{
    width:calc((100%/12)*12);
}

.box{
    height: 200px;
    border: 1px solid gray;
 
    display: flex;
    box-shadow: 0px 0px 5px lightgreen;
}

.row{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.button{
    width: 200px;
}
.body h4{
    padding: 32px;
}