#contact-map{
    .container1{
        padding: 0px;
        margin: 0px;
        .row{
            margin-top: 200px;
            padding: 0px;
            margin: 0px;
            .col-12{
                p{
                    iframe{
                     width:1150px;
                }
              
            }
        }}
    }
}