#Research-main{
    height: 800px;
    .container{
        margin-top: 100px;
        .row{
            margin-bottom: 10px;
            
            .col-8{
                .row{
                    .col-4{
                        // border: 1px solid red;
                        .img{
                            img{
                                width: 100%;

                            }
                        }
                    }
                    // .col-8{
                    //     // border: 1px solid red;

                    // }
                }
            
            }
            .col-4{
                border-bottom: 1px solid lightgrey;
            }
        }
    }
}