#header{
    width: 400px;
    height: 200px;
    background:red;
}

#slider{
    width: 200px;
    height: 200px;
    background: slateblue;
}

#featured-content{
    width: 200px;
    height: 100px;
    background:springgreen;
}

