body{
    margin: 0px;
    padding: 0px;
    background:#9c3034 ;
}
#pricelist{
    margin: 0 auto;
    width: 1400px;
    padding: 30px 0px;
  
    
}
#video-list{
    width: 1400px;
    margin: 0 auto;
    
}
#video-slider{
    
}
.container{
    width: 1400px;
    margin: 0 auto;

padding: 30px 0px;
}
.container-1{
    margin: 281px auto;
    width: 1400px;
}
.box{
    
    box-sizing: border-box;
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin: -30px;

}
.col-2{
    width:calc((100%/12)*2);
    height: 50px;
   
    
    
}
.col-12{
    width:calc((100%/12)*12);
    height: 60px;
    color:#aba26d;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 10px;
    border-top: 1px solid #c7b75b ;
    border-bottom: 1px solid #c7b75b;
    padding: 15px;
}
.col-6{
    width:calc((100%/12)*6); 
    height: 50px;
    background:#aba26d ;
    border: 1px solid black;
   
}
.col-6 div{
    text-align: end;
    margin-top: -15px;
}
.col-2 h1{
    font-family: 'Merriweather', serif;
    color: #c2bb95;
}
.col-6 p{
    color:#424137 ;
    text-align: start;
    margin-bottom: 10px;
}
.col-2-eks{
    width:calc((100%/12)*2);
    border: 1px solid black;
    height: 50px;
    background:#aba26d ;
    text-align: center;
    
}

.col-2-eks1 h{
    color:#424137 ;
}
.col-3{
    width:calc((100%/12)*3);
    
    height: 50px;
    color: #c2bb95;
    text-align: end;
}
.col-2-b{
    width:calc((100%/12)*2);
    
    height: 50px;
    color: #c2bb95;
}
.col-4{
    width:calc((100%/12)*4);
    
    height: 50px;
    color: #c2bb95;
    text-align: center;
}
.col-5{
    width:calc((100%/12)*5);
    border: 1px solid blue;
    height: 500px;
}

.col-6-z{
    width:calc((100%/12)*6); 
    height: 200px;
    background: #aba26d ;
   
}
.col-2-z{
    width:calc((100%/12)*2);
    border: 1px solid black;
    height: 200px;
    background:#aba26d ;
}

.col-4-z{
    width:calc((100%/12)*4);
    border-top: 1px solid black;
    height: 200px;
}
.col-4-zz{

    width:calc((100%/12)*4);
    
    height: 200px;
}
.col-3-m{
    width:calc((100%/12)*3);
    background:#aba26d ;
    border: 1px solid black;
   
}
.col-2-m{
    width:calc((100%/12)*2);
    border: 1px solid black;
    height: 200px;
    background:#aba26d ;

}
.col-4-m{
    width:calc((100%/12)*4);
    border-bottom: 1px solid black;
    height: 200px;
    

}
.col-12-z{
    width:calc((100%/12)*12);
    border-top: 1px solid black;
    height: 150px;
    margin: 90px 0px;

}
.row-h{
    margin: 0 auto;
}
.twitter{
    margin: 20px;
}
.col-12-p{
    width:calc((100%/12)*12);

    height: 150px;

}
    
.row-p{
    margin: -190px 0px;

}
