body{
    margin: 0px;
   
}
#container{
width: 1200px;
margin: 200px auto;
}

.row{
display: flex;
justify-content: space-between;
object-fit: cover;
transition: all .3s ease;

}
.col-3{
    width:calc((100%/12)*3);
    border: 1px solid #323a40;
    width: 260px;
    height: 330px;
    cursor: pointer;
    transition: all .3s ease;
}
.col-12{
    width:calc((100%/12)*12);
    margin: -108px 555px;
}
.col-3 img{
    width: 100%;
    height: 50%;
}
.col-3 h1{
    font-size: 100%;
}
.col-3:hover{
    background:#e3de9f;
}
.btn{
    padding: 10px 20px;
    transition: all .3s ease;
    cursor: pointer;
    margin: 0px auto;
    width: 114px;
}
.btn-border{
    border: 1px solid rgba(50, 26, 202, 0.248);
}
.btn-radius{
    border-radius: 10px;
}
.btn:hover{
    background:#ccab25 ;
}